/* STYLE DU MODE ADMIN */

.edit-mode-text {
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed ;
    text-align: center;
    padding: 6%4 0;
    top: 0px;
    left: 0;
    width: 100%;
}

#introduction .edit-button {
    position: relative;
    left: 45px;
    text-align: left;
    color: black;
    border: none;
    font-size: 14px;
    background-color: transparent;
    margin: 10px;
    padding: 0;
}


#portfolio {
    padding-top: 50px; 
}

#portfolio .edit-button {
    position: relative;
    left: 675px;
    text-align: left;
    color: black;
    border: none;
    font-size: 14px;
    background-color: transparent;
    top: 30px;
}

.publish-changes {
    border-radius: 60px;
    text-align: left;
    color: black;
    border: none;
    font-size: 14px;
    background-color: white;
    margin: 3px;
    padding: 7px 12px;
}
